<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        button{
            {#border: 0px;#}
            background: transparent;
            border-radius: 10px;
        }
        table{
            border-radius: 10px;
        }
        </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#ffe4e1">
<h1 align="center">Student Page</h1>

<table cellpadding="55" align="center" style="margin-top: 15%"  bgcolor="#e0ffff" >
    <th>
        <button ><a href="/student/addstudent/" style="color: black" >ADD STUDENT</a></button>
    </th>
    <th>
        <button><a href="/student/viewstudent/" style="color: black">VIEW STUDENT</a></button>
    </th>
</table>

</body>
</html>