<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#adff2f">
<h1 align="center">VIEW STUDENT</h1>
{#<a href="/teacher/">back teacherpage</a>#}
<a href="http://127.0.0.1:8000/" >home page</a>

<table border="1" cellpadding="35"  align="center" style="margin-top: 2%">
    <tr>
        <th>Name</th>
        <th>class</th>
         <th>AGE</th>
         <th>PLACE</th>
        <th>MOBILE</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>

{% for i in disu %}
    <tr>
        <td><label type="text">{{ i.name }}</label> </td>
        <td><label type="text">{{ i.clas}}</label></td>
        <td><label type="text" >{{ i.age}}</label></td>
        <td><label type="text" >{{ i.place}}</label> </td>
        <td><label type="text" >{{ i.mobile}}</label> </td>

        <form method="post" action="/editstudent/">{% csrf_token %}
            <td><input type="number"  name="cc" value="{{ i.id }}" hidden>
        <button type="submit"> edit</button> </td>
        </form>
        <form method="post">{% csrf_token %}
            <td><input type="number" name="cid" value="{{ i.id }}"hidden >
        <button type="submit"> delete</button> </td>
        </form>

    </tr>

{% endfor %}
</table>
</body>
</html>